extends base.pug
block main
  section.welcome
    .container
      h1 Questions for the Singapore Government 
      a(href="/post")
        button.primary Submit a question
  section.questions
    .container 
      each question in questions
        a(href='/question/' + question.question_id)
          article.question 
            h3.question-text= question.question_title
            p.answer= question.question_description
