extends base.pug
block main
  .login.container
    h1 Login
    form(action="login" method="POST")
      div.field
        label(for="name") Name
        input(type="text" id="name" name="name")
      div.field
        label(for="password") Password
        input(type="password" id="password" name="password")
      button(type="submit") Login