extends base.pug
block main
  .container
    h2 Whats you're question?
    form(action="post" method="POST")
      h3
        label(for="title") Question
      textarea(id="title", name="title", cols="30", rows="1") 
      h3
        label(for="description") Description (optional)
      textarea(id="description", name="description", cols="30", rows="3") 
      button(type="submit") Make post
    a(href="/")
      button.secondary Cancel