extends base.pug
block main
  h1 post table
  form(action="post" method="POST")
    div 
      label(for="description") Description
      input(type="text" id="description" name="description")
    button(type="submit") Make post