extends base.pug
block main
  .register.container
    h1 Register
    form(action="register" method="POST")
      div.field
        label(for="name") Name
        input(type="text" id="name" name="name")
      div.field
        label(for="password") Password
        input(type="password" id="password" name="password")
      button(type="submit") Register