extends base.pug
block main
  h1 Register
  form(action="register" method="POST")
    div 
      label(for="name") Name
      input(type="text" id="name" name="name")
    div 
      label(for="password") Password
      input(type="password" id="password" name="password")
    button(type="submit") Register